# Gradle
**/bin/*
**/build/
**/.gradle
gradle*

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Eclipse
**/bin/
**/.classpath
**/.project
**/.settings/
**/Library.java
**/LibraryTest.java
